In [16]:
import random

In [17]:
random.randint(1, 2)

1

In [2]:
import pandas as pd
pd.read_excel("fowosere.xlsx")

,description,letter_count,Name,Country
0,"Hi everyone, my name is Stella from Nigeria. I...",350,Stella,Nigeria
1,"Hello, fellow bookworms! I'm Penelope, an ecce...",334,Penlope,England
2,"Hi, everyone! I'm Rajiv, a tech guru hailing f...",364,Rajiv,India
3,"Hey, folks! I'm Evie, a nature-loving wildlife...",310,Evie,England
4,"Namaste, friends! I'm Aisha, a passionate wild...",346,Aisha,Kenya
5,"Greetings, everyone! I go by the name Maxine, ...",282,Maxine,England
6,"Hello all, I'm Aurora, a student of Newcastle ...",290,Aurora,Romania
7,"Hello, everyone! I'm Sakura, a talented sushi ...",359,Sakura,Tokyo
8,"Hi everyone, my name is Sunny, and I live here...",360,Sunny,Nigeria
9,"Hey there, I'm Isabella, a student and dancer...",381,Isabella,Nigeria
10,"Hello guyz, I am Temitope an African by origin...",400,Temitope,Nigeria
11,"Hello, I'm Oscar, an aspiring filmmaker from t...",390,Oscar,England